[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
coverage = "*"
flake8 = "*"

[packages]
pandas = "*"
numpy = "*"

[requires]
python_version = "3.7"
