[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coverage = "*"
setuptools = "*"
wheel = "*"
twine = "*"
flake8 = "*"

[packages]
pandas = "*"
numpy = "*"
flake8 = "*"
matplotlib = "*"

[requires]
python_version = "3.7"
